# Ignore Git files
.git
.gitignore

# Ignore Docker stuff
docker-compose.yml
docker-compose.*.yml
Dockerfile*

# Ignore backups & temp
*.zip
*.tar.gz
backups/
*.log
*.tmp

# Ignore editor junk
.DS_Store
.idea/
*.swp
